@font-face {
    font-family: 'harmony';
    src: url('/assets/fonts/harmony.otf');
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'harmony';
}

body,
.container {
    background-color: #1f1b24;
    color: #fff;
    position: relative;
}

.container {
    padding: 15px 20px;
}

.section {

    position: relative;
}

.grid {
    display: grid;
    align-items: center;
}

.name-big {
    font-size: 50pt;
}

.bio {
    text-transform: capitalize;
    padding: 15px 20px;
    background-color: #2a2531;
    border-radius: 10px;
    font-size: 15pt;
    margin: 15px 0;
}

.nav-bar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
    background-color: #1f1b24;
    width: 50px;
    justify-content: center;
    align-items: center;
    display: none;
}

.nav-bar ul {
    list-style: none;
    writing-mode: vertical-rl;
    display: block;
}

.nav-bar ul li {
    display: inline-block;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #fff;
    transition: color .25s ease-in-out;
    font-size: 10pt;
}


li a.active {
    border-left: 3px solid #fff;
    color: #56525c !important;
}

.profile-card {
    background-color: #2a2531;
    padding: 75px 20px;
    border-radius: 10px;
    position: relative;
}

.profile-card img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 3px solid #1f1b24;
    align-self: center;
    display: flex;
    margin: auto;
    margin-bottom: 10px;
}

.profile-card p {
    display: flex;
    justify-content: space-around;

}

.profile-card p span {
    text-align: left;
    width: 80%;
}

.skills {
    list-style: none;
}

.skills li {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #3f3749;
    display: inline-block;
    margin: 5px;
}

.fadeUp {
    animation: fadeInUp;
    animation-duration: 2s;
}

.fadeDown {
    animation: fadeInDown;
    animation-duration: 1s;
}

.reverse {
    flex-direction: column-reverse;
}

.project-image {
    width: 100%;
    border-radius: 10px;
    border: 2px #1f1b24 solid;
}

.project-desc p {
    font-size: 17px;

}

.tabs {
    list-style: none;
    display: block;
    padding: 20px 0;
}

.tabs li {
    display: inline-block;
    padding: 10px 15px;
}

.tabs li a {
    text-decoration: none;
    color: #fff;
    transition: all .25s ease;
}

.tabs li a:hover {
    color: #66616d;
}

.tab-item {
    display: none;
    padding: 20px 0;
    transition: display 1s ease-out;
}

.tab-item.active {
    display: block;
}