@font-face {
    font-family: 'harmony';
    src: url('assets/fonts/harmony.otf');
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

* {
    font-family: 'harmony';
}

body,
.container {
    background-color: #1f1b24;
    color: #fff;
    position: relative;
}

.container {
    padding: 15px 20px;
}

.section {
    scroll-snap-align: start;
    display: grid;
    align-items: center;
    height: 100vh;
}

.name-big {
    font-size: 50pt;
}

.bio {
    text-transform: capitalize;
    padding: 15px 20px;
    background-color: #2a2531;
    border-radius: 10px;
    font-size: 15pt;
    margin: 15px 0;
}

.nav-bar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul {
    list-style: none;
    writing-mode: vertical-rl;
    display: block;
}

.nav-bar ul li {
    display: inline-block;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #fff;
    transition: color .25s ease-in-out;
}


li a.active {
    border-left: 3px solid #fff;
    color: #56525c !important;
}

.profile-card {
    background-color: #2a2531;
    padding: 75px 20px;
    border-radius: 10px;
    position: relative;
    height: 100%;
}

.profile-card img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 3px solid #1f1b24;
    margin-bottom: 10px;
    position: absolute;
    top: -75px;
    right: 0;
    left: 0;
    margin: auto;
}

.profile-card p {
    display: flex;
    justify-content: space-around;
    font-size: 14pt;
}

.profile-card p span {
    text-align: left;
    width: 80%;
}

.skills {
    list-style: none;
}

.skills li {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #3f3749;
    display: inline-block;
    margin: 5px;
}

.fadeUp {
    animation: fadeInUp;
    animation-duration: 2s;
}

.fadeDown {
    animation: fadeInDown;
    animation-duration: 1s;
}